<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>AWS access audit</title>
</head>


<body>
<div class="container">
    <div class="row my-2">
        <h1>Report on user access for accounts with the same SSO profile as the {{ sso_profile_name }} profile.</h1>
    </div>
    <div class="row my-3">
        <div class="col-8">
            <div class="accordion" id="account_accordian">
                {% for account in accounts -%}
                    <div class="accordion-item my-2">
                        <h2 class="accordion-header" id="panelsStayOpen-heading{{ account.name }}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ account.name }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ account.name }}">
                                {{account.name}}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse{{ account.name }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading{{ account.name }}">
                            <div class="accordion-body">
                                {% for user in account.users -%}
                                    {{ user.username }}<br>
                                    &emsp;Groups: {{ user.groups | join(", ") }}<br>
                                    &emsp;Group policies:
                                    {% for policy in user.group_policies -%}
                                        <a class=link data-bs-toggle="collapse" role=button href="#collapse{{ account.name }}{{ policy.name }}">{{ policy.name }}</a>{% if not loop.last %}, {% endif %}
                                    {%- endfor %}<br>

                                    {% if user.attached_policies -%}
                                        &emsp;Attached policies:
                                        {% for policy in user.attached_policies -%}
                                            <a class=link data-bs-toggle="collapse" role=button href="#collapse{{ account.name }}{{ policy.name }}">{{ policy.name }}</a>{% if not loop.last %}, {% endif %}
                                        {%- endfor %}<br>
                                    {%- endif %}
                                {%- endfor %}
                            </div>
                        </div>
                    </div>
                {%- endfor %}
            </div>
        </div>
        <div class="col" id="policy_details_column">
            <div class="position-fixed">
                Policy Details:
                {% for account in accounts -%}
                    {% for policy_name, policy in policies[account.name].items() -%}
                        <div class="collapse" data-bs-parent="#policy_details_column" id="collapse{{ account.name }}{{ policy.name }}">
                            <div class="card card-body">
                                <h5 class="card-title">Policy <span style="font-weight: bold">{{ policy.name }}</span> for account <span style="font-weight: bold">{{ account.name }}</span></h5>
                                <div class="card-text">
                                Some placeholder content for the collapse component.
                                </div>
                            </div>
                        </div>
                    {%- endfor %}
                {%- endfor %}
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>

